@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){
	
}
@media screen and (max-width: 1367px){
	.slider__item img {
		margin-top: 60px;
	}
}
@media screen and (max-width: 959px){
	.slider__txt {
		left: 17.5%;
	}
	.slider__txt-two {
		left: 32%;
	}
	.slider__txt-three {
		left: 46.5%;
	}
	.slider__title {
		padding: 0px 40px;
	}
	.slider .slick-dots  {
		bottom: 25px;
	}
	.gallery {
		padding-top: 0px;
	}
	.gallery__menu .nav.nav-pills {
		padding: 8px 34px;
	}
	.gallery__menu .nav-link {
		margin: 11px 3px;
	}
	.tab-content .tab-pane img {
		width: 100%;
	}
}
@media screen and (max-width: 768px){
	.slider__txt {
		left: 18.5%;
	}
	.slider__txt-two {
		left: 32.5%;
	}
	.slider__txt-three {
		left: 47%;
	}
	.slider__title {
		font-size: 2.43rem;
		padding: 13px 20px;
	}
	.slider__text {
		margin-top: 15px;
	}
	.slider .slick-arrow.slick-prev {
		left: 30px;
	}
	.slider .slick-arrow.slick-next {
		right: 30px;
	}
	.gallery__menu .nav.nav-pills {
		padding: 0px;
		margin: 0px;
	}
	.gallery__menu .nav-link {
		margin: 11px 1px;
	}
}
@media screen and (max-width: 480px){
	.slider .slick-arrow {
		width: 30px;
		height: 30px;
		padding: 5px;
	}
	.slider .slick-arrow.slick-prev {
		left: 10px;
	}
	.slider .slick-arrow.slick-next {
		right: 10px;
	}
	.slider__txt {
		left: 17%;
		top: 37%;
	}
	.slider__txt-two {
		left: 31.5%;
	}
	.slider__txt-three {
		left: 45.5%;
	}
	.slider__line {
		height: 40px;
		width: 100%;
	}
	.slider__title {
		font-size: 1.5rem;
		text-align: center;
	}
	.slider__text {
		font-size: 1rem;
	}
	.slider .slick-dots {
		bottom: 15px;
		left: 32%;
	}
	#pills-tab {
		justify-content: center;
	}
}