@media screen and (max-width: 1367px) {
	.heading__line {
		width: 55%;
	}
}
@media screen and (max-width: 1200px) {
	.heading {
		padding: 120px 0px 120px 100px;
	}
	.slider__title {
		letter-spacing: 0;
	}
	
}
@media screen and (max-width: 992px) {
	.heading__line {
		width: 70%;
	}
	.works__image {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 768px) {
	.heading {
		padding: 50px 0px 50px 50px;
	}
	.heading__title {
		font-size: 2.43rem;
		padding-top: 15px;
	}
}
@media screen and (max-width: 480px) {
	.heading__title {
		font-size: 2rem;
	}
	.social__list {
		margin: 3px 0px 0px 10px;
		width: 240px;
	}
	.slider__item img {
		margin-bottom: 12px;
	}
	.design {
		padding-top: 35px;
	}
	.slider .slick-arrow {
		top: -80px;
	}
	#slider__share1 {
		margin-bottom: 10px;
	}
	#social__hover1 {
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 320px) {
	
}